
.movie-card {
    margin: 10px;
    padding: 20px;
    background: rgb(7, 39, 63);
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    min-height: 200px;
    box-sizing: border-box; /* Include padding and border in the width and height */
    color: #fff; /* Make text color white for contrast */
}

.search-results {
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
}

.search-results div {
    padding: 5px;
    cursor: pointer;
}

.search-results div:hover {
    background-color: #f0f0f0;
}

/* Dropdown Content - Hidden by Default */
.dropdown-content {
    display: none; /* Hide by default */
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block; /* Show on hover */
}


.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    position: relative;
    padding-top: 20px;
}

/* Additional styles for the card bottom part */
.card-bottom {
    background-color: rgb(25, 28, 41);
    color: #fff;
    padding: 15px;
    border-radius: 0 0 5px 5px;
}

/* Styles for individual movie cards */
.movie-card {
    margin: 10px;
    padding: 20px;
    background: rgb(7, 39, 63);
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    min-height: 200px;
    box-sizing: border-box;
}

.card-bottom {
    .card-bottom {
        background-color: rgb(25, 28, 41);
        padding: 15px;
        border-radius: 0 0 5px 5px;
    }
}

.form-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 3em !important;
}

.sort-container {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
}

.sort-container label {
    margin-right: 10px;
}

.sort-container select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: #191c29;
    color: #fff;
}

.bubbly-button {
    position: relative;
    z-index: 1;
    margin-top: 0 !important;
}

header{
    font-family: 'Bacasime Antique', serif;
    font-family: 'Ephesis', cursive;
    background-color: transparent;
    color: #fff;
    margin: 0;
    font-size: 5em;
}


@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

body {
    min-height: 100vh;
    /* //adds a backgroun. image */
    background-image: url("../img/img.png");
    background-size: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;

}

#card-style {
    background: #191c29;
    padding: 3px;
    position: relative;
    border-radius: 6px;
    display: flex;
    font-size: .75em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
}

#card-style:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}

#card-style::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
            var(--rotate)
            , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

#card-style::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #0099a0;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
.login-box button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.login-box span {
    position: absolute;
    display: block;
}

.login-box span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}

.modal-content{
    /*transform: translate(-50%, -50%);*/
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.modal-header h5 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.modal-body button{
    border: transparent;
}

#login-box{
    /*transform: translate(-50%, -50%);*/
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    color: #dddddd;
}

#add-movie-form{
    color: #dddddd;
}

#edit-movie-form{
    color: #dddddd;
}

